.main {
  text-align: center;
}

.welcome-sign{
  height: 60vmin;
animation: App-Logo-Spin;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
